<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${company.ctoname}+'大件运输'"></title>
     <meta name="Keywords" th:content="${company.ctoname}+'大件运输'" />	
<meta name="description" th:content="${company.ctoname}+'大件运输'">
     <base th:href="${yuming}">
    <link rel="stylesheet" href="./css/dajianyunshu.css">
    <link rel="stylesheet" href="../css/repe.css">
</head>
<body>
    <!-- 版心问候语 -->
    <div class="hello">
        <div class="wrapper">
            <div class=" fl firm">
                欢迎光临<span th:text="${company.ctoname}">广州市恒昱物流有限公司</span>官方网站！ 
            </div>
            <div class="fr firmMessage">
                <ul> 
                    <li><a href="">设为首页</a></li>
                    <li><a href="">加入收藏</a></li>
                    <li><a href="">联系我们</a></li>
                    <li><a href="">关于我们</a></li>
                </ul>
            </div>
        </div>
    </div>
   <!-- hede内容 -->
   <div class="hede">
        <div class="wrapper">
            <div class="fl name">
                <h1><span th:text="${company.qianming}+'大件运输'">广州市恒昱物流有限公司</span></h1>
                <h3><span>GUANGZHOU HENG YU LOGISTICS CO., LTD</span></h3>
            </div>
            <div class="fr tel">
               <span>全国服务热线：</span>
               <p>020-61928652</p>
               <p>131 6880 9828</p>
            </div>
            <div class="jieshao">
                <h3><span>一站式供应链服务平台</span> <span>可信赖的物流方案专家</span> </h3>
                <h4>信誉保证，尊客爱货、安全快捷</h4>
            </div>
        </div>
   </div>

   
   <!-- 导航内容 -->
   <div class="Nav">
        <div class="wrapper">
            <ul>
                 <li><a th:href="${yuming}+'/gonsimoban/'+${company.id}+'.html'">网站首页</a></li>
                <li><a target="_blank" th:href="${yuming}+'/yiwufanwei/'+${company.id}+'.html'">业务范围</a></li>
                <!-- <li><a href="">车辆展示</a></li> -->
                <li><a target="_blank" th:href="${yuming}+'/gongluyunshu/'+${company.id}+'.html'">公路运输</a></li>
                <li><a target="_blank"th:href="${yuming}+'/dajianyunshu/'+${company.id}+'.html'" >大件运输</a></li>
                <li><a target="_blank" th:href="${yuming}+'/gongluyunshu/'+${company.id}+'.html'">轿车托运</a></li>
                <li><a target="_blank" th:href="${yuming}+'/huichengyunshu/'+${company.id}+'.html'">回程车运输</a></li>
                <li><a target="_blank"th:href="${yuming}+'/guanyuwomen/'+${company.id}+'.html'" >关于我们</a></li>
                <li><a target="_blank" th:href="${yuming}+'/lianxiwomen/'+${company.id}+'.html'">联系我们</a></li>
            </ul>
        </div>
   </div>

   <!-- 轮播图 -->
   <div class="carousel">
        <ul>
            <li style="display: block;"><img src="http://pmo619b53.pic47.websiteonline.cn/upload/ad_eklu.jpg" alt="56114物流公司"></li>
        </ul>
   </div>

   <div style="background-color: rgb(246, 246, 246);height: 50px;">
        <div class="wrapper">
            <div style="height: 50px;background-color: rgba(0,84,157,1);width: 181.8px;text-align: center;font-size: 20px;line-height: 50px;color: white;float: left;">
                SERVICE
            </div>
            <div style="margin-left: 30px;float: left;line-height: 50px; font-size: 14px;">
               <a href="index.html"  style="color: black;">网站首页</a> ∷ <a href="#" style="color: black;">大件运输</a> 
            </div>
        </div>
   </div>
   <!-- 下面的主题内容 -->
   <div class="conten">
    <div class="wrapper">
        <div class="item">
            <div class="itemNav">
                <dl>
                    <dt>服务项目</dt>
                      <dd><a th:href="${yuming}+'/gonsimoban/'+${company.id}+'.html'">网站首页</a></dd>
                    <dd><a target="_blank" th:href="${yuming}+'/yiwufanwei/'+${company.id}+'.html'">业务范围</a></dd>
                    <!-- <dd><a href="">车辆展示</a></dd> -->
                    <dd><a target="_blank" th:href="${yuming}+'/gongluyunshu/'+${company.id}+'.html'">公路运输</a></dd>
                    <dd><a target="_blank"th:href="${yuming}+'/dajianyunshu/'+${company.id}+'.html'" >大件运输</a></dd>
                    <dd><a target="_blank" th:href="${yuming}+'/gongluyunshu/'+${company.id}+'.html'">公路运输</a></dd>
                    <dd><a target="_blank" th:href="${yuming}+'/huichengyunshu/'+${company.id}+'.html'">回程车运输</a></dd>
                    <dd><a target="_blank"th:href="${yuming}+'/guanyuwomen/'+${company.id}+'.html'" >关于我们</a></dd>
                    <dd><a target="_blank" th:href="${yuming}+'/lianxiwomen/'+${company.id}+'.html'">联系我们</a></dd>
                </dl>
                <div class="itemTel">
                    <p>全国24小时服务热线：</p>
                    <br>
                    <div class="itemTEL">
                        <P>131 6880 9828</P>
                        <br>
                        <P>020-61928652 </P>
                    </div>
                </div>
            </div>
            <div class="itemLook">
                <br>   
               <h3>大件运输</h3>
               <hr>
               <br>
               <dl>
                   <dt>大件运输代理简介</dt>
                   <dd> 公司承运各类大型，特种物件，超长、超宽、超高、超重，等大型货物运输业务。</dd>
                   <dd>主要经营有，矿山设备、机械设备、电站设备、航天器具、核电设备等其它特种物资运输，</dd>
                   <dd>   并提供特大不同吨位起重吊机，腾瑞物流保险全程保驾护航。</dd>
               </dl>
               <dl>
                <dt>公司大件装备一览表</dt>
                <dd>  一、奔驰牵引车一组540匹马力。</dd>
                <dd>  二、液压平板车（尼古拉斯上海水化工机械厂组装）十四轴（850轮脂）载重350吨</dd>
                <dd>  三、斯太尔牵引车420匹马力四台，380匹马力四台，320匹马力六台，280匹马力八台。</dd>
                <dd>  四、特种低平板车（长21米，宽3.3米，高0.85）可载重80吨，六台。</dd>
                <dd>  五、特种低平板车（长24米，宽3.3米，高0.6米）可载重100吨，二台。</dd>
                <dd>  六、特种低平板车（长14米，宽2.6米，高1米）可载重30顿，四台。</dd>
                <dd>  七、汽车吊，50吨一台。</dd>
                <dd> 八、汽车吊，25吨一台。</dd>
                <dd> 九、自备堪路护卫车，急修车。</dd>
              </dl>
            </div>
        </div>
       
    </div>
   </div>



<div  th:replace="footer :: common_resource"></div>

</body>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script>
  </script>
</html>














