<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册页面</title>
  
    <link rel="stylesheet" href="./css/zhuce.css">

</head>
<body>
    

<div class="wrapper">
    <!-- 最上面的内容 -->
    <div class="top white">
        <div style="  width: 200px;height: 75px; ">
            <img src="https://cdn.kuaidi100.com/images/index/index_print_v4.png" alt="">
        </div>
      <div>
          <ul>
              <li><a href="">诚信通 |</a></li>
              <li><a href="">线路刷新 |</a></li>
              <li><a href="">黄金广告位 |</a></li>
              <li><a href="">企业建站 |</a></li>
              <li><a href="">在线帮助</a></li>
          </ul>
      </div>
    </div>
    <!-- 选择类型 -->
    <div  class="type">
        <!-- ① 选择会员类型②  ②填写帐户信息-->
        <div class="one">
            <span class="action">①选择会员类型</span>
            <span>②填写帐户信息</span>
            <span class="red fr"> * 表示必填项！</span>
        </div>
        <!-- 选择种类 -->
        <div class="tow white">
            <p> 尊敬的用户，欢迎您注册聚时物流网。首先，<span class="red"> 请选择适合的会员类型注册</span></p>

            <div data-type="1">
                <label for="1">
                    <span>
                        <input type="radio" id="1"  name="radio"><strong>国内物流公司</strong>
                    </span>
                    <span>
                        <p>提供国内第三方物流运输服务的公司。</p>
                        <p> 可免费发布各省、地、县收货、提货的网点，免费发布物流线路信息，免费查询车源、货源信息。</p>
                        <p class="red">提醒:国内物流公司必须提供真实网点信息和具有物流公司的相关资质。</p>
                    </span>
                </label>
            </div>
            <div data-type="5">
                <label for="5">
                    <span>
                        <input type="radio" id="5"  name="radio"><strong>	国际物流企业</strong>
                    </span>
                    <span>
                        <p>提供国际海运，空运等运输服务的企业及货代，报关，商检等出口运输服务的相关企业。</p>
                        <p>可免费发布国际运输线路，出口货物运输信息，免费查询国际运输线路，出口货物信息。</p>
                    </span>
                </label>
            </div>
            <div data-type="2">
                <label for="2">
                    <span>
                        <input type="radio" id="2"  name="radio"><strong>车主</strong>
                    </span>
                    <span>
                        <p>提供物流运输服务且具备营运资格的车队或个体车主。</p>
                        <p>可免费发布车辆信息，线路信息，免费查询货源信息。</p>
                    </span>
                </label>
            </div>

            <div data-type="3">
                <label for="3">
                    <span>
                        <input type="radio" id="3"  name="radio"><strong>	发货企业或个人</strong>
                    </span>
                    <span>
                        <p>需要发货的企业或个人。</p>
                        <p>可免费发布国内外货物运输信息，免费查询运输车辆及物流公司信息。</p>
                    </span>
                </label>
            </div>

            <div data-type="4">
                <label for="4">
                    <span>
                        <input type="radio" id="4"  name="radio"><strong>配货信息部</strong>
                    </span>
                    <span>
                        <p>专为发货企业、运输车辆提供物流配货，找车服务的单位或个体。</p>
                        <p>可免费发布各省、地、县收货、提货的网点，免费发布物流线路信息，免费查询车源、货源信息。</p>
                    </span>
                </label>
            </div>

         

            <div data-type="6">
                <label for="6">
                    <span>
                        <input type="radio" id="6"  name="radio"><strong>	快递公司</strong>
                    </span>
                    <span>
                        <p>提供小件货物邮寄或邮件投递服务的相关快递企业。</p>
                        <p>可免费发布各省、地、县接收或送达经营网点信息，免费查询快递信息。</p>
                    </span>
                </label>
            </div>

            <div data-type="7">
                <label for="7">
                    <span>
                        <input type="radio" id="7"  name="radio"><strong>搬家公司</strong>
                    </span>
                    <span>
                        <p>	提供搬家、搬厂服务的相关搬家企业。</p>
                        <p>可免费发布各区域搬家网点信息，免费查询搬家、搬厂信息。</p>
                    </span>
                </label>
            </div>

       

            <div data-type="8">
                <label for="8">
                    <span>
                        <input type="radio" id="8"  name="radio"><strong>物流设备企业</strong>
                    </span>
                    <span>
                        <p>提供各种物流产品、仓储设备、物流软件的相关企业</p>
                        <p>可免费发布各类产品供应信息，免费查询求购产品相关信息。</p>
                    </span>
                </label>
            </div>

            <div data-type="9">
                <label for="9">
                    <span>
                        <input type="radio" id="9"  name="radio"><strong>物流园区</strong>
                    </span>
                    <span>
                        <p>	提供招商，房屋出租，停车位等服务的相关企业。</p>
                        <p>可免费发布各类的房屋出租，停车位，餐饮等相关信息。</p>
                    </span>
                </label>
            </div>

            <div data-type="10">
                <label for="10">
                    <span>
                        <input type="radio" id="10"  name="radio"><strong>停车场</strong>
                    </span>
                    <span>
                        <p>	提供招商，房屋出租，停车位等服务的相关企业。</p>
                        <p>可免费发布各类的房屋出租，停车位，餐饮等相关信息。</p>
                    </span>
                </label>
            </div>
        

        </div>

    </div>

</div>


<br>
<br>
<br>
<br>
  
  <script src="./js/jquery.min.js"></script>
    <script>
                var  divs = document.getElementsByClassName("tow")[0].getElementsByTagName("div");
                    for(let i =0;i<divs.length;i++){
                            divs[i].onclick = function(){
                               let type = this.getAttribute("data-type")
                                console.log(type)
                                window.location.href = `./zhucet?type=${type}`
                            }
                    }
    </script>
</body>
</html>