*{
    margin: 0;
    padding:0;
    list-style:noen;
}


.wrapper{
    width: 850px !important;
    margin: 0 auto;

    padding-bottom: 20px;
    /* border: 1px solid red; */
    box-shadow: 0 0 10px #999999;
}

.wrapper .header{
    height: 60px;
    border-bottom: 2px dotted #333333;
}

.wrapper .header img{
    width: 200px;
    height: 100%;
    box-sizing: border-box;
    /* border: 1px solid yellow; */
    float: left;
}
.wrapper .header span{
    margin-left: 15px;
    font-size: 35px;
    line-height: 60px;
    font-weight: 600;
    float: left;
}
.wrapper .header p{
    float: right;
    margin-top: 35px;
    color: #999999;
    margin-right: 15px;
}

.wrapper .header p em{
    color: red;
    font-style: normal;
}
.header::after{
    content:"";
    display:block;
    clear:both;
}
 form{
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    box-sizing: border-box;
    margin-right: 15px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}
 form label{
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 15px;
}
 form label span{
    display: inline-block;
    width: 90px;
    height: 25px;
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
    line-height: 25px ;
    cursor: pointer;
}
 form  label input{
    height: 25px;
}

 form  div{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
 form  div input{
    width: 100px;
    height: 35px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: #ff9900;
    color: white;
    cursor: pointer;
}
 form  div input{
    border: none;
}