<!DOCTYPE html>
<html lang="en">
<div th:fragment="common_resource">    

  <link rel="stylesheet" type="text/css" href="http://static.56114.net.cn/templets/default/css/zx180621.css?v=202006162" />

<style>
body{
    background-color: #f6f6f6;
    font-size: 16px;
}
html{
 background-color: #f6f6f6;
}


</style>


    <div class="footer">
        <div class="container fn-clear">
            <dl class="contact-wrap">
                <dt class="">
                    <h6>客服热线</h6>
                    <p style="font-size:16px;">400-00-56114</p>
                    <p style="font-size:16px;">15638856114</p>
                </dt>
                <dd>
                    <h6>产品中心</h6>
                    <p>
                        <a href="../html/zeroCarry.html">零担管家</a>
                    </p>
                    <p>
                        <a href="../html/threeSides.html">三方管家</a>
                    </p>
                    <p>
                        <a href="#">仓库管家</a>
                    </p>
                    <p>
                        <a href="#">发货宝</a>
                    </p>
                </dd>
                <dd class="">
                    <h6>关于我们</h6>
                    <p>
                        <a href="#">公司简介</a>
                    </p>
                    <p>
                        <a href="#">联系我们</a>
                    </p>
                    <p>
                        <a href="#">加入我们</a>
                    </p>
                </dd>
                <div class="copyr">
                    <a href="http://www.beian.miit.gov.cn/">豫ICP备09031960号-37</a>
                    <a href="privacy.html">隐私政策</a>
                    <a href="softwareAgreement.html">用户协议</a>
                    <p>Copyright ©2015-2019
                        <a class="last" href="">56114.net</a>. All rights reserved.郑州聚时网络科技有限公司 版权所有</p>
                </div>
            </dl>  
        </div>
    </div>
    <div class="theme-popover-mask"></div>
<div id="WTMap_Main" >
<div id="china_map">
<a class="c-close">×</a>
<img  src="http://static.56114.net.cn/images/map.png"style="position: absolute; width: 660px; height: 460px;left: 100px;top: 0px;z-index:9999;display:none;" />
<span class="c-span">一、国内线路：</span>

<div class="search_citylist"></div>
<div class="china-mapbox"> 

</div>
</div>
<div class="theme-popover">
  <div class="theme-poptit">
		<a href="javascript:;" title="关闭" class="close" style="z-index: 9999999999;">×</a>
		<h3 style="float: left;">请选择具体城市</h3>
        <div class="prince-a" ></div>
	</div>
	<div class="theme-bottom">
	<div class="province-mapbox clearfix">
    <div class="province-mapboxs clearfix">
    <p class="warning">浏览器版本太低，请更换浏览器，显示地图</p>
	<div id="province_maps" class="clearfix">

</div>
</div>
</div>
	<div class="theme-popbod dform" style=" position:relative">
        <div id="shi"></div>
        <div id="zhen"></div>
		<div style="clear: both;"></div>
	</div>
	</div>
</div>
</div>
	
<div class="m-box">
</div>
<!-- 多条广告如下脚本只需引入一次 -->
<script type="text/javascript" src="//cpro.baidustatic.com/cpro/ui/cm.js" async="async" defer="defer" ></script>
<script src="./js/jquery.min.js"></script>
<script src="./js/xianzhenjson.js"></script>
<script src="./js/ditu.js"></script>
<script src="./js/provincemap.js"></script>
<script src="./js/guojijson.js"></script>
<script src="./js/cityjson.js"></script>
<script src="./js/qrcode.js"></script>
    </div>
</html>